################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Solution/v15/Browse.VC.db
/.vs/Solution/v15/Browse.VC.opendb
/.vs/Solution/v15/ipch/fb4932a25c0a9057.ipch
/TaskAndCode/Debug/TaskAndCode.tlog
/TaskAndCode/Debug
/MyOrganizer/Debug
/MyOrganizer/Bin
/.vs/Solution/v15/ipch
/.vs/Solution/v15/Solution.VC.db-wal
/.vs/Solution/v15/Solution.VC.db-shm
/.vs/Solution/v15/Solution.VC.db
